.Deck {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul li {
  list-style: none;
}

.Deck form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Deck h1 {
  font-size: 32px;
  text-align: center;
}

.cards {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  color: black;
}

.card {
  cursor: pointer;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  height: 160px;
}

.back,
.front {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 4px 5px 5px rgba(255, 255, 255, 0.4);
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

.back button,
.front button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
}

.front {
  font-size: 26px;
  font-weight: 700;
}
